.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Đưa card ra giữa màn hình */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.simple-card {
  display: flex;
  align-items: center;
  border: 2px solid blue;
  border-radius: 12px;
  /* Bo góc */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  /* Đổ bóng */
  background: white;
  width: 350px;
  padding: 10px;
}

/* Hình ảnh */
.image-container {
  width: 80px;
  height: 80px;
  background-color: #f4da75;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: goldenrod;
  border-radius: 8px;
}

/* Nội dung */
.content {
  flex-grow: 1;
  padding-left: 10px;
}

.title {
  font-size: 18px;
  color: #d47200;
  font-weight: bold;
  margin: 0;
  border-bottom: 2px solid orange;
}

.description {
  font-size: 14px;
  color: gray;
  margin: 5px 0 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}